@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(60, 151, 212);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
    padding: 30px;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    
}
footer{
    color: white;
    text-align: center;
    padding: 25px;
}
.link{
    position: relative;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.link:hover{
    text-decoration: underline;
}
div{
    text-align: center;
    padding: 10px;
}
#imagem{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}